body{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0;
}

#container{
  border: none;
    height: 200px;
    width: auto;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
   padding: 30px ;
    align-items:center ;
   background-color: rgba(240, 255, 255, 0.381);

   box-shadow:10px 10px 10px 
}
#display{


   
    font-size: 3.5em;
    font-family: 'Courier New', Courier, monospace;
    height: 50%;

}
#controlls{

display: flex;
justify-content: space-evenly;
width: 100%;
height: auto;
transition:ease;
transition-duration: 2s;
}

.buttons{
    padding:10px 30px ;
    color:white;
    border: none;
    border-radius: 15px;
    font-size: 1.5em;
    transition: background-color 0.5s ease;
}
#btn1{
    background-color:green;
}
#btn1:hover{
    background-color: rgb(63, 214, 63);
     cursor:pointer;
}
#btn2{
    background-color:red ;
}
#btn2:hover{
    background-color: rgb(107, 4, 4);
     cursor:pointer;

}
#btn3{
    background-color:blue ;
     cursor:pointer;
}
#btn3:hover{
    background-color: rgb(12, 12, 81);
    cursor:pointer;
}